<div class="container">
    <div class="row m-3">
        <div class="col-md-12 position-relative">
            <a routerLink="/"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back to Dashboard</a>

            <div class="d-inline-block position-absolute top-0 end-0 px-2">
                <a class="btn btn-danger mx-2" (click)="deleteClient()"><i class="fa fa-trash" aria-hidden="true" ></i> Delete</a>
                <a routerLink="../../client/edit/{{this.id}}" class="btn btn-dark"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
            </div>
        </div>
    </div>
    <div class="row m-3 pt-5">
        <div class="col-lg-8 col-md-12 m-auto">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center text-capitalize">{{this._client.firstName}} {{this._client.lastName}}</h5>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Email : <strong> {{this._client.email}}</strong></li>
                    <li class="list-group-item">Phone :<strong> {{this._client.number}}</strong></li>
                    <li class="list-group-item">Balance : <strong>{{this._client.balance | currency:'USD'}}</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>